*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fc;
}

.top-header{
    width:100%;
    padding:0 40px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    background-image:url("../assets/ic1.jpeg");
    background-size:cover;
    background-position:center;
    height:55vh;
}

.logo-title{
    display:flex;
    align-items:flex-start;
    padding-top:20px;
}

.logo{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:10px;

    filter: brightness(0) invert(1);
}


.nav{
    display:flex;
    align-items:center;
    gap:30px;
    padding: 20px;
}

.nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    padding:10px 15px;
    font-weight:bold;
}

.nav a:hover{
    background:rgba(255,255,255,0.2);
    border-radius:8px;
}
.nav a.dash{
    border-radius: 100px;
}

.hero{
    text-align:center;
    padding:60px 20px;
    background:#eaf3ff;
}

.hero h1{
    font-size:45px;
    margin-bottom:10px;
    color:#003a8c;
}

.hero p{
    font-size:20px;
    color:#444;
    margin-bottom:20px;
}

.search-box input{
    padding:12px;
    width:55%;
    border:2px solid #666;
    border-radius:6px;
    font-size:16px;
}

.search-box button{
    padding:12px 25px;
    background:#0066dd;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    margin-left:8px;
}

.report-btn{
    display:inline-block;
    margin-top:20px;
    background:#ff3b3b;
    color:white;
    padding:14px 24px;
    border-radius:8px;
    text-decoration:none;
    font-size:18px;
}

.latest{
    padding:50px 20px;
    text-align:center;
}

.latest h2{
    font-size:32px;
    margin-bottom:25px;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:260px;
    background:white;
    border-radius:10px;
    padding:15px;
    box-shadow:0 5px 14px rgba(0,0,0,0.15);
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-6px);
}

.card img{
    width:100%;
    height:230px;
    border-radius:8px;
    object-fit:cover;
}

.details-btn{
    margin-top:12px;
    display:inline-block;
    background:#0066dd;
    padding:10px 16px;
    color:white;
    border-radius:6px;
    text-decoration:none;
    font-size:15px;
}