body { font-family:Arial; 
    background:#f4f4f4; 
}
.form-card { width:400px; 
    padding:20px; 
    margin:auto; 
    background:white; 
    border-radius:10px; 
    box-shadow:0 4px 12px rgba(0,0,0,0.1); 
}
textarea { height:120px; 
}
button { background:#0097a7; 
    padding:12px; 
    border:none; 
    color:white; 
    border-radius:6px; 
}